.info_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
    img {
        float: left;
    }
.interests {
    background-color: blue;
    width: 250px;
    border: 2px;
    height: auto;
    padding: 20px;
    margin-left: 45%;
    width: 300px;
    margin-top: 50px;
    font-size: 150%;
}
.projects {
    margin-top: 20px;
    margin-left: 45%;
    background-color: yellow;
    padding: 20px;
    width: 300px;
    position: relative;
    left: 365px;
    top: -295px;
    font-size: 150%;
    padding-bottom: 100px;
}
img{
    style: width: 500px; height: 500px;
    margin: 40px;
    margin-top:5px;
}
.basics {
    background-color: #fffda4;
    text-align: center;
    position: relative;
    left: 42px;
    width: 96%;
}
body {
background-color: #cccccc;
}
.body_layout {
    font-size: 100%;
}
